.cart-product-image {
  width: 12rem;
  height: 12rem;
  cursor: pointer;
  border-radius: 50px;
}

.cart-header {
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: 0;
}

.cart-title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4rem;
  font-weight: 600;
}

.individual-cart-box {
  width: 80%;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 2px solid var(--brown);
  margin: 0.5rem 0 2rem 0;
  flex-wrap: wrap;
  padding: 1.5rem;
  align-self: center;
  justify-content: space-between;
}

.title-head {
  font-size: 1.7rem;
}

.size-info {
  font-size: 1.3rem;
  margin: 0 15px 8px 0;
}

.order {
  align-items: center;
  justify-content: center;
  // margin: 5px 10% 5px 10%;

  h1 {
    max-width: 24ch;
    margin-right: 1rem;
  }
}

.place-order-button {
  border: none;
  border-radius: 4rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all ease-in 0.2s;
  height: 4rem;
  background: var(--red);
  color: var(--light);
  width: 20rem;
  font-family: 'Montserrat';
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(2, 2, 2, 0.5), 0 6px 20px 0 rgba(2, 2, 2, 0.49);
    color: var(--black);
  }
}

.icons {
  font-size: x-large;
  cursor: pointer;
  color: var(--black);
  transition: ease-in 0.3s;
  margin-left: 1rem;

  &:hover,
  &:focus {
    color: var(--red);
  }
  &:focus {
    outline: none;
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.cart-title-whislist {
  width: 30rem;

  margin-left: 4rem;
}

.cart-parent-box {
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.quantity {
  align-items: center;
  justify-content: center;
}

.price {
  width: 9ch;
  display: flex;
  align-items: center;
}
