.cart-product-image {
  width: 12rem;
  height: 12rem;
  cursor: pointer;
  border-radius: 50px;
}

.cart-header {
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.cart-title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4rem;
  font-weight: 600;
}

.individual-cart-box {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 2px solid var(--brown);
  margin: 0.5rem 0 2rem 0;
  flex-wrap: wrap;
  padding: 1.5rem;
  align-self: center;
  justify-content: space-between;
}

.title-head {
  font-size: 1.7rem;
}

.size-info {
  font-size: 1.3rem;
  margin: 0 15px 8px 0;
}

.order {
  align-items: center;
  flex-direction: column;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 2px solid var(--brown);
  width: 330px;
  margin: 0 30px 0 10px;
  height: 170px;
  justify-content: space-around;
  h1 {
    width: 250px;
    margin-right: 1rem;
  }
}

.place-order-button {

  width: 250px;
  height: 45px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: var(--light);
  background: var(--red);
  background: transparent;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: 'Montserrat';
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all ease-in 0.3s;
  background: var(--red);
  color: var(--light);
  font-weight: 500;
  font-size: large;
  outline: none;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(2, 2, 2, 0.5), 0 6px 20px 0 rgba(2, 2, 2, 0.49);
    color: var(--black);
  }
}

.icons {
  font-size: x-large;
  cursor: pointer;
  color: var(--black);
  transition: ease-in 0.3s;
  margin-left: 1rem;

  &:hover,
  &:focus {
    color: var(--red);
  }
  &:focus {
    outline: none;
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-title-whislist {
  width: 30rem;
}

.cart-parent-box {
  padding-top: 100px;
  overflow-x: hidden;
  align-items: center;
  min-height: 100vh;
}

.quantity {
  align-items: center;
  justify-content: center;
}

.price {
  width: 9ch;
  display: flex;
  align-items: center;
}

.adjust-cart{
  flex: 1;
  padding: 0 50px 0 50px;
}

.align-cart-box{
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 470px) {
  .order{
    align-items: center;
    margin: 0 0 20px 0;
  }
  .place-order-button{
    margin: 0 0 2rem 0;
  }
}
