.cart-product-image {
  width: 114px;
  height: 115px;
  cursor: pointer;
  border-radius: 50px;
}

.flex-space-arround {
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
}

.cart-header {
  padding-top: 2rem;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.cart-title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4rem;
  font-weight: 600;
}

.individual-cart-box {
  width: 80%;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 2px solid var(--brown);
  margin: 5px 0px 5px 0;
  flex-wrap: wrap;
  padding: 2rem;
  align-self: center;
  justify-content: space-between;
}

.size-info {
  font-size: 19px;
  margin: 0 15px 8px 0;
}

.order {
  align-items: flex-end;
  margin: 5px 10% 5px 10%;
}

.place-order-button {
  border: none;
  border-radius: 4rem;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all ease-in 0.2s;
  height: 4rem;
  margin-left: 2rem;
  background: var(--red);
  color: var(--light);
  width: 237px;
  font-weight: 600;
  margin-bottom: 10px;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(2, 2, 2, 0.5), 0 6px 20px 0 rgba(2, 2, 2, 0.49);
  }
}

.icons {
  font-size: x-large;
  cursor: pointer;
  color: var(--black);
  transition: ease-in 0.3s;
  margin-left: 1rem;

  &:hover {
    color: var(--red);
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.cart-title-whislist{
  width: 230px;
}

.cart-parent-box{
  overflow-x: hidden;
}

@media (min-width: 300px) and (max-width: 470px) {
  .order{
    align-items: center;
    margin: 0;
  }
  .place-order-button{
    margin: 0 0 2rem 0;
  }
}