.categories-container {
  display: grid;
  width: 80vw;
  grid-gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 400px);
  grid-auto-rows: minmax(15rem, auto);
  padding: 2rem;
  .item {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 6rem;
    // color: var(--lightBrown);
    color: var(--brown);
    // font-family: 'Reenie Beanie';
    // padding: 2rem;
    position: relative;

    .image-overlay {
      position: absolute;
      top: 2rem;
      left: 2rem;
    }

    &:hover {
      cursor: pointer;
    }

    .title {
      margin: 0 0 1rem 0;
      position: relative;
      z-index: 1;
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        top: -0.25rem;
        left: -2rem;
        bottom: -0.25rem;
        width: calc(100% + 4rem);
        // background: var(--brown);
        background: var(--white);
        z-index: -1;
        transform: scaleX(0.1);
        transform-origin: left;
        transition: transform 250ms ease-in;
      }
    }
    .body {
      // font-family: 'Mulish';
      font-size: 3rem;
      color: transparent;
      position: relative;
      margin: 0;
      z-index: 1;
      transition: color 200ms 250ms;

      &::after {
        content: '';
        position: absolute;
        top: -0.75rem;
        bottom: -0.75rem;
        left: -0.75rem;
        right: -0.75rem;
        background: var(--light);
        z-index: -1;
        transform: scaleY(0);
        transition: transform 250ms ease-in;
        transition-delay: 250ms;
        transform-origin: top;
      }
    }
  }

  .item:hover .title::after {
    transform: scaleX(1);
  }

  .item:hover .body {
    color: var(--brown);
  }
  .item:hover .body::after {
    transform: scaleY(1);
  }

  .women {
    grid-column: 1 / 3;
  }
  .men {
    grid-row: 2 / 4;
  }
  .electronics {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .jewelery {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .all {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
