.error-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0 285px 0;
    button{
        width: 200px;
        padding: 12px 0 12px 0;
    }
}

.error-heading{
    margin: 40px;
}
