.whislist-added {
    font-size: x-large;
    margin: 0 10px 24px 0px;
    cursor: pointer;
    color: red;
}

.whislist-removed {
    font-size: x-large;
    margin: 0 10px 24px 0px;
    cursor: pointer;
    color: balck;
}
