.best-sellar-title{
    font-weight: bold;
    font-size: 43px;
    display: flex;
    justify-content: center;
}

.complete-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}