.container {
  display: flex;
  flex-direction: column;
  margin: 0 0 5rem 0rem;
}

.wishlist-container {
  margin-left: 5rem;
  height: 100vh;
}

.noitem-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-sellar-title {
  font-weight: bold;
  font-size: 4.5rem;
  font-family: 'Reenie Beanie';
  display: flex;
  justify-content: center;
  margin: 0;
}

.complete-data-whislist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
