.container {
  display: flex;
  flex-direction: column;
  margin: 0 0 5rem 5rem;
}
.best-sellar-title {
  font-weight: bold;
  font-size: 7rem;
  font-family: 'Reenie Beanie';
  margin: 0;
}

.complete-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
