.container {
  display: flex;
  flex-direction: column;
  margin: 0 0 5rem 0rem;
}

.wishlist-container {
  padding-top: 100px;
}

.noitem-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-sellar-title {
  font-weight: bold;
  font-size: 4rem;
  font-family: 'Reenie Beanie';
  display: flex;
  justify-content: center;
  margin: 0;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.whislist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
