.display-product {
  flex-wrap: wrap;
  justify-content: center;
}
.prod-page-container {
  // height: 100vh;
}

h2 {
  font-size: 2rem;
}

.image {
  width: 20rem;
  height: 20rem;
}

.image-crousel-box {
  position: relative;
  width: 400px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  box-shadow: 34px;
  height: 45rem;
  border-radius: 0 4rem;
  margin-right: 5rem;
  border-right: 0.5px solid;
  border-image-slice: 1;
  border-width: 0.5px;
  border-image-source: linear-gradient(
    to bottom,
    var(--white),
    var(--black),
    var(--white)
  );
}

.content-display-box {
  width: 400px;
  height: 600px;
  justify-content: space-evenly;
}

.add-to-whislist {
  margin: 9px 0 0 20px;
}

.title-head {
  h2 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
.button-group {
  align-items: flex-start;
  justify-content: space-evenly;

  .button {
    font-family: 'Montserrat';
    background: transparent;
    border: none;
    border-radius: 0 4rem 4rem 0;
    font-size: 14px;
    text-align: center;
    width: 185px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease-in 0.2s;
    height: 4rem;
    background: var(--red);
    color: var(--light);
    &:hover{
      box-shadow:0 1px 2px 0 rgba(2, 2, 2, 0.5), 0 2px 7px 0 rgba(2, 2, 2, 0.49);
    }
  }
}
.error {
  color: var(--red);
  font-size: 1rem;
}
.add-button {
  margin: 2rem 1rem 0 0;
}

.description {
  h2 {
    margin: 0;
    font-weight: 500;
  }
  p{
    font-size: 12px;
    font-weight: 400;
  }
}

.similar-products{
  align-items: center;
}

.heading-similar-prod{
  font-family: 'Reenie Beanie', cursive;
  font-size: 4rem;
}
