.display-product {
  flex-wrap: wrap;
  justify-content: center;
}
.prod-page-container {
  padding-top: 100px;
}
.prod-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2rem;
}

.image {
  width: 20rem;
  height: 20rem;
}

.image-crousel-box {
  position: relative;
  width: 400px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  box-shadow: 34px;
  height: 45rem;
}

.content-display-box {
  width: 400px;
  height: 600px;
  justify-content: space-evenly;
  border-radius: 0 4rem;
  padding-left: 5rem;
  border-left: 0.5px solid;
  border-image-slice: 1;
  border-width: 0.5px;
  border-image-source: linear-gradient(
    to bottom,
    var(--white),
    var(--black),
    var(--white)
  );
}

.add-to-whislist {
  margin: 9px 0 0 20px;
}

.title-head {
  h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0;
  }
}
.button-group {
  align-items: flex-start;
  justify-content: space-evenly;

  .button {
    font-family: 'Barlow', 'Montserrat';
    background: transparent;
    border: none;
    border-radius: 0 4rem 4rem 0;
    font-size: 1.5rem;
    text-align: center;
    width: 200px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease-in 0.3s;
    height: 4rem;
    // background: var(--red);
    color: var(--light);
    background: radial-gradient(var(--red), transparent);
    &:hover {
      box-shadow: 0 1px 2px 0 rgba(2, 2, 2, 0.5),
        0 2px 7px 0 rgba(2, 2, 2, 0.49);
      color: var(--black);
      // color: var(--red);
    }
  }
}
.error {
  color: var(--red);
  font-size: 1rem;
}
.add-button {
  margin: 2rem 1rem 0 0;
}

.description {
  margin-top: 2rem;
  h2 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
  }
  p {
    font-size: 1.2rem;
  }
}

.similar-products {
  align-items: center;
  margin-top: 2rem;
}

.heading-similar-prod {
  font-family: 'ChocolateCrispy', 'Reenie Beanie', cursive;
  font-size: 4rem;
  letter-spacing: 4px;
}

@media (min-width: 300px) and (max-width: 470px) {
  .content-display-box {
    margin: 0 20px 0 0px;
    border-left: 0px;
  }
  .image-crousel-box {
    margin-right: 0rem;
    border-right: 0px;
  }
  .add-button {
    margin: 2rem 1rem 1rem 0;
  }
}
