.display-product {
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.prod-page-container {
  height: 100vh;
}

h2 {
  font-size: 2rem;
}

.image-crousel-box {
  width: 400px;
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
  align-self: center;
  align-items: center;
  box-shadow: 0px 0px 6px 2px #888888;
  box-shadow: 34px;
  height: 470px;
}

.content-display-box {
  width: 400px;
  height: 600px;
  justify-content: space-around;
}

.add-to-whislist {
  margin: 6px 0 0 10px;
}

.title-head {
  h2 {
    font-size: 2.5rem;
  }
}
.button-group {
  align-items: flex-start;
  // height: 50%;
  justify-content: space-evenly;

  .button {
    font-family: 'Montserrat';
    background: transparent;
    border: none;
    border-radius: 0 4rem 4rem 0;
    font-size: 14px;
    text-align: left;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease-in 0.2s;
    height: 4rem;
    &:hover {
      background: var(--red);
      // border: 2px solid var(--light);
      color: var(--light);
    }
  }
}
.error {
  color: var(--red);
  font-size: 1rem;
}
.add-button {
  margin: 2rem 1rem 0 0;
}

.description {
  h2 {
    margin: 0;
  }
}
