.subscribe-input
    width: 260px
    border-radius: 5px
    height: 40px
    border: none
    margin: 5px
    color: var(--black)
    &:focus
        outline: none

.subscribe-button
    padding: 0px
    width: 150px
    height: 41px
    margin: 5px
    color: var(--white)
    &:focus, &:hover
        color: var(--black)
        outline: none

.subscribe-parent
    display: flex
    justify-content: center
    margin: 1rem 0 1rem 0

.align-subscribe
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    margin: 1rem 0 0 0
