.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border: 2px solid grey;
  // box-shadow: 0 4px 8px 0 rgba(2, 2, 2, 0.2), 0 6px 20px 0 rgba(2, 2, 2, 0.19);
  margin: 1rem;
  padding: 2rem 2rem 0;
  border-radius: 4rem 0;
  color: var(--black);
  transform: scale(1);
  transition: all 250ms ease-in;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(2, 2, 2, 0.5), 0 6px 20px 0 rgba(2, 2, 2, 0.49);
    // box-shadow: 0 2px 16px 4px rgba(40, 44, 63, 0.7);
    transform: scale(1.01);
  }
}

.image-box {
  width: 25rem;
  height: 26rem;
  margin: 2.5rem 0 2rem 0;
  cursor: pointer;
}
.card-title {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  height: 15rem;
  cursor: pointer;

  .title-price {
    font-weight: bold;
    font-size: 1.7rem;
  }
  .title-head {
    width: 25rem;
  }
}

.card-footer-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;

  .button {
    background: transparent;
    padding: 1rem 3rem;
    border-radius: 4rem;
    font-family: 'Montserrat';
    border: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease-in 0.4s;
    &:hover {
      background: var(--red);
      color: var(--light);
    }
  }
}
