.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem 2rem 0;
  border-radius: 4rem 0;
  color: var(--black);
  transform: scale(1);
  transition: all 250ms ease-in;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(2, 2, 2, 0.5), 0 6px 20px 0 rgba(2, 2, 2, 0.49);
    color: var(--red);
    transform: scale(1.01);
  }
}

.image-box {
  width: 25rem;
  height: 26rem;
  // margin: 2.5rem 0 2rem 0;
  cursor: pointer;
}
.card-title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.3rem;
  height: 15rem;
  cursor: pointer;

  .item-name {
    font-weight: bold;
    width: 25rem;
  }

  .item-price {
    font-weight: bold;
    width: 25rem;
    display: inline-block;
  }
}

.card-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
