.modal {
  background: var(--white);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  color: var(--black);
  position: absolute;
  z-index: 10;
  box-shadow: 5px 7px 10px 1px var(--black);
  width: 40%;
  overflow: auto;
  border: solid 5px var(--brown);
  // padding: 2rem;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  // transition: background 250ms ease-in;
  background: rgba(2, 2, 2, 0.5);
}

.close {
  // display: flex;
  // justify-content: flex-end;
  // float: right;
  margin: 1rem;
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;
  color: var(--black);

  &:hover,
  &:focus {
    color: var(--red);
  }
}
