.modal {
  background: var(--light);
  border-radius: 20px;
  color: var(--black);
  overflow-y: scroll;
  position: fixed;
  top: 20%;
  z-index: 10;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.modal-container {
  display: flex;
  justify-content: center;
}

.close {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  float: right;
  margin: 10px;
  font-size: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;
  color: var(--black);

  &:hover,
  &:focus {
    color: var(--blue);
  }
}
