.modal {
  background: var(--light);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  color: var(--black);
  position: absolute;
  z-index: 10;
  box-shadow: 5px 7px 10px 1px var(--black);
  width: 40%;
  border: solid 5px var(--brown);

  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: 1rem;
  //   top: 1rem;
  //   right: 1rem;
  //   left: 1rem;
  // }

  // &::before {
  //   transform: scale(1, 1);
  //   transition: transform ease-out 250ms;
  //   border-top: 1px solid var(--lightBrown);
  //   border-bottom: 1px solid var(--lightBrown);
  // }
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  // transition: background 250ms ease-in;
  background: rgba(2, 2, 2, 0.5);
}

.close {
  // display: flex;
  // justify-content: flex-end;
  // float: right;
  margin: 1rem;
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;
  color: var(--black);

  &:hover,
  &:focus {
    color: var(--brown);
  }
}
