.container {
  min-height: 100vh;
}

.add-address-box {
  border-width: thin;
  flex: 1;
  border-style: dashed;
  display: flex;
  height: 200px;
  margin: 30px 12% 20px 12%;
  justify-content: center;
  cursor: pointer;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
}

.icon-delete {
  cursor: pointer;
  width: 30px;
  height: 16px;

  color: var(--black);
  &:hover {
    color: var(--red);
  }
}

.add-address-content {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  margin: 30px 12% 20px 12%;
}
.name-address {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  width: 370px;
  white-space: pre-wrap;
}
.cursor-pointer {
  height: 54px;
}

.proceed-to-payment {
  display: flex;
  height: 43px;
  margin: 30px 12% 20px 12%;
  justify-content: space-between;
  cursor: pointer;

  div {
    display: flex;
    align-items: center;
    &:hover {
      color: var(--red);
    }
    h1 {
      padding-left: 1rem;
    }
  }
  button {
    font-size: 16px;
    width: 250px;
    font-weight: 600;
    cursor: pointer;
    color: var(--light);
    background: var(--red);
  }
}

.address-wrap{
  flex-wrap: wrap;
}
