.size-circle {
  border-radius: 20%;
  // border: 1px solid transparent;
  width: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  height: 3rem;
  padding: 0.2rem;
  font-weight: 600;
  margin: 0;
  margin-right: 1rem;
}

.size-unselected {
  transition: all 250ms ease-in;
  &:hover {
    border: 1px solid var(--red);
    background: var(--red);
    color: var(--light);
  }
}

.size-selected {
  transition: all 250ms ease-in;
  background: var(--red);
  color: var(--light);

  &:hover {
    background: transparent;
    border: 1px solid var(--black);
    color: var(--black);
  }
}

.heading-quantity {
  font-weight: bold;
  font-size: 1.2rem;
}
