.add-substract-quantity {
  font-size: 37px;
  svg {
    cursor: pointer;
  }
  p {
    margin: 0 1rem;
    font-size: 2.5rem;
  }
}

.counter {
  font-size: 3rem;
  cursor: pointer;
  color: var(--black);
  transition: ease-in 0.3s;

  &:hover {
    color: var(--red);
  }
}
