$backgroundColor: var(--bgColor);
$textColor: var(--textColor);

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  background: transparent;
  transition: ease 1s;
  flex-wrap: wrap;
  width: 100%;
  height: 10rem;
  padding-right: 2rem;
  position: fixed;
  z-index: 5;

  &-scrolled {
    transition: all 3s;
    background: $backgroundColor;
  }
  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
    margin-right: 1rem;
  }

  .hamburger-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .title {
    font-size: 5rem;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    padding: 1rem;
  }

  .wishlist {
    // color: #dc3545;
    cursor: pointer;
  }
  .cart {
    // color: #dc3545;
    cursor: pointer;
  }
  .login,
  .logout {
    cursor: pointer;
    text-decoration: none;
    color: $textColor;
  }

  .username {
    padding-right: 1rem;
    cursor: pointer;
  }
}
nav.header.scrolled {
  transition: ease 1s;
  background: $backgroundColor;
  box-shadow: 0 8px 4px -7px rgba(115, 115, 115, 10%);
}

.item-count {
  color: var(--red);
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 1ch;
}

.icons {
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--black);
  transition: ease-in 0.3s;
  margin-left: 1rem;

  &:hover {
    color: var(--red);
  }
}
