$backgroundColor: var(--bgColor);
$textColor: var(--textColor);

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  background: transparent;
  transition: ease 1s;
  flex-wrap: wrap;
  width: 100%;
  height: 10rem;
  padding-right: 2rem;
  position: fixed;
  z-index: 5;

  &-scrolled {
    transition: all 3s;
    background: $backgroundColor;
  }
  &-buttons {
    display: flex;
    justify-content: center;
    // align-items: center;
    font-size: 2rem;
    align-self: flex-end;
  }

  .hamburger-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .title {
    font-size: 5rem;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    padding: 1rem;
  }

  .wishlist {
    cursor: pointer;
  }
  .cart {
    cursor: pointer;
  }
  .login,
  .logout {
    cursor: pointer;
    text-decoration: none;
    color: $textColor;
  }

  .logout-button {
    height: 20px;
    padding: 16px 0 0 0;
    cursor: pointer;
    text-decoration: none;
    color: $textColor;
  }

  .username {
    padding-right: 1rem;
  }
}
nav.header.scrolled {
  transition: ease 1s;
  background: $backgroundColor;
  box-shadow: 0 8px 4px -7px rgba(115, 115, 115, 10%);
}

.item-count {
  color: var(--light);
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 1ch;
}

.icons-hover {
  color: var(--black);
  transition: ease-in 0.3s;
  margin-left: 1rem;

  &:hover {
    color: var(--red);
  }
}

.onhover-user {
  width: 200px;
  height: 100px;
  background: white;
  border-radius: 7px;
  border: 1px solid brown;
  position: fixed;
  margin: 35px 0px 0px -162px;
}

.arrow {
  content: '';
  position: absolute;
  top: -21%;
  left: 91%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent brown transparent;
  font-size: 3rem;
  color: var(--black);
  z-index: 3;
  cursor: pointer;
  user-select: none;
  transition: all ease-in 0.2s;
}

.dropdown-user-content {
  height: 122px;
  justify-content: flex-start;
  padding: 17px 0px 0px 0px;
}

.auth-feature {
  width: 100px;
  display: flex;
  justify-content: center;
  li.user-icon {
    margin-bottom: 7px;
    &:hover {
      color: var(--black);
    }
  }
}

.quantity-on-icon {
  background: var(--red);
  border-radius: 50%;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  position: fixed;
  margin: -7px 0px 0px 26px;
  padding: 0px 0px 0px 2px;
}
