.input-data{
    margin: 10px;
    outline: none;
    border-style: hidden;
    border-radius: 5px;
    height: 40px;
    width: 330px;
}

#pincode{
    margin: 10px 5px 10px 10px;
    width: 160px;
}
#country{
    margin: 10px 10px 10px 5px;
    width: 160px;
}
#state{
    margin: 10px 5px 10px 10px;
    width: 160px;
}
#city{
    margin: 10px 10px 10px 5px;
    width: 160px;
}

#address{
    height: 100px;
}

#submit-address{
    cursor: pointer;
}

.error-text{
    color: red;
    margin-left: 10px;
}
