$color: var(--black);
.home-container {
  .carousel {
    position: relative;
    // height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 97.5vw;
    height: 100vh;
    border-radius: 10px;
  }
}
.arrow {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: $color;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  transition: all ease-in 0.2s;

  &:hover {
    color: var(--red);
  }
}
.right {
  right: 32px;
}
.left {
  left: 32px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.01);
}
