$color: var(--black);
.home-container {
  .carousel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100vw;
    height: 100vh;
  }
}
.arrow-crousel {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: $color;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  transition: all linear 250ms;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none;

  &:hover {
    color: var(--red);
  }
}
.right {
  right: 32px;
}
.left {
  left: 32px;
}

.slide {
  // opacity: 0;
  transform: translateX(-100%);

  transition: all 250ms ease-in;
}

.slide.active {
  // opacity: 1;
  transform: translateX(0%);

  // transition-duration: 250ms;
  // transform: scale(1.01);
}

.cousel-indicator {
  justify-content: center;
  li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid;
    border-color: var(--black);
    margin: 2px;
  }
}

.selected-cousel-indicator {
  background: var(--black);
}

.SliderCSS {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.image-slide{
  width: 100vw;
  height: 100vh;
  .image {
    width: 100vw;
    height: 100vh;
  }
}

.crousel-arrow{
  display: flex;
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  justify-content: center;
  background: var(--light);;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: transform ease-in 0.1s;
  font-size: 3rem;
  &:hover {
    transform: scale(1.1);
    color: var(--red);
  }
  .crousel-arrow-left{
    transform: translateX(-2px);
    &:focus {
      outline: 0;
    }
  }
  .crousel-arrow-right{
    transform: translateX(2px);
    &:focus {
      outline: 0;
    }
  }
}
