.contact-box
    width: 250px

.footer
    background-color: black
    color: white

.store-icon
    width: 125px
    margin: 5px 0px 5px 0px

.store-icon-google
    border-color: darkgrey
    border-width: 0.1px
    border-style: solid
    height: 39px
    border-radius: 5px

.footer-flex-margin
    margin: 0 10px 0 10px

.subscribe-input
    width: 260px
    border-radius: 5px
    height: 40px
    border: none
    margin: 5px
    &:focus
        outline: none

.subscribe-button
    width: 150px
    height: 41px
    border: none
    border-radius: 5px
    margin: 5px
    &:focus
        outline: none

.subscribe-parent
    display: flex
    justify-content: center
    margin: 20px 0 20px 0

.border-line
    border-top-style: groove
    border-color: darkgrey
    border-width: 0.5px
