$color: var(--black);
// $color: #f8f9fa;

.search-container {
  border-radius: 40px;
  display: flex;
  position: relative;
  min-width: 3rem;
  align-items: center;
  color: var(--brown);
  &:hover {
    color: var(--brown);
  }
}
.seach-text {
  font-family: 'Montserrat';
  font-size: 2rem;
  background-color: transparent;
  width: 40rem;
  padding: 0.2rem 3rem 0.2rem 2rem;
  outline: 0;
  border: none;
  border-radius: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 2px solid var(--brown);
  height: 5rem;
}
.seach-button {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
}
.seach-button:hover {
  color: var(--brown);
}
::selection {
  background: rgba(#222, 0.2);
}
::-moz-selection {
  background: rgba(#222, 0.2);
}
