.box-div-filter {
  height: 100vh;
  position: sticky;
  top: 10rem;
  // bottom: 0;

  border-right: 0.5px solid;
  border-image-slice: 1;
  border-width: 0.5px;
  border-image-source: linear-gradient(
    to bottom,
    var(--light),
    var(--black),
    var(--light)
  );

  margin: 4rem;
  // padding: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.Category {
  cursor: pointer;
  text-indent: 1rem;
}
