.box-div-filter {
  height: 100vh;
  position: sticky;
  top: 10rem;

  border-right: 0.5px solid;
  border-image-slice: 1;
  border-width: 0.5px;
  border-image-source: linear-gradient(
    to bottom,
    var(--light),
    var(--black),
    var(--light)
  );

  margin: 4rem;
  padding-right: 2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.Category {
  cursor: pointer;
  text-indent: 1rem;

  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.75rem 0rem 0 1rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s linear;

  &:hover {
    color: var(--red);
  }
}

.selected-category {
  color: var(--red);
}

h5 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
h4 {
  text-transform: uppercase;
  font-family: 'ChocolateCrispy', 'Reenie Beanie';
  font-size: 2.7rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 4px;
}

ul {
  margin-top: 0;
}
