.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  color: var(--black);

  h2 {
    text-transform: uppercase;
  }
}

.btn {
  height: 4rem;
  width: 25rem;
  display: block;
  text-decoration: none;
  border: 1px solid var(--black);
  border-radius: 5px;
  position: relative;
  padding-left: 2rem;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Montserrat';
  transition: box-shadow 250ms ease-in;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(2, 2, 2, 0.5), 0 6px 20px 0 rgba(2, 2, 2, 0.49);
  }
}

.fa {
  margin-right: 1rem;
  font-size: 2rem;
}

.google {
  background-color: var(--white);
  align-items: center;
}
.facebook {
  background-color: hsl(221, 44%, 41%);
  color: var(--white);
  align-items: center;
}

.error-message {
  color: var(--red);
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0;
  height: 2.5rem;
}

.not-permitted-sign-parent{
  height: 100vh;
}

.not-permitted-sign-modal{
  margin: 200px 0 0px 0px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.heading-not-authorisation{
  display: flex;
  justify-content: center;
}

.align-back-arrow{
  left: 0;
}
