.sign-up
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    height: 100%

.sign-button
    height: 43px
    width: 200px

.modal-sign
    display: flex
    justify-content: center
    background-color: wheat

.close-icon
    float: right
    margin: 10px
    width: 26px
    font-size: 22px
    cursor: pointer