.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  color: var(--black);
}

.sign-button {
  height: 43px;
  width: 200px;
}
