@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Reenie+Beanie&display=swap');

@font-face {
  font-family: 'ChocolateCrispy';
  src: url('./assets/font/ChocolateCrispy.ttf');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;500;600;700;800;900&display=swap');

.title {
  font-family: 'ChocolateCrispy', 'Reenie Beanie', cursive;
  letter-spacing: 8px;
}
// .content {
//   font-family: 'Barlow', 'Montserrat', 'Mulish', sans-serif;
// }

#root {
  font-family: 'Barlow', 'Montserrat', 'Mulish', sans-serif;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  // --light: #f8f9fa;
  --dark: #343a40;
  // --black: #222222;
  --coolGrey: #97a5a7;
  // font-family: 'Mulish', sans-serif;

  --light: #f7f1f0;
  --black: #222;
  --brown: #a15c38;
  --lightBrown: #c3a6a0;

  --light: #fbfbfb;
  --black: #222;
  --brown: #a15c38;
  //rgb(161,92,56)

  // --lightBrown: #ffc2c7;

  // --red: var(--brown);
  //rgb(220,53,69)

  --bgColor: var(--white);
  --textColor: var(--black);
  color: var(--black);
}

*,
*:before,
*:after,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul {
  padding: 0px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-one {
  flex: 1;
}

.flex-wrap-with-justify {
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  outline: none;
  &:focus,
  &:hover {
    outline: none;
  }
}

.loader-align {
  height: 100vh;
}

li {
  list-style: none;
}

.complete-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card-container:nth-child(1n) {
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    &:hover {
      transform: rotate(0deg);
    }
  }
  .card-container:nth-child(2n) {
    border-width: 3px 3px 5px 5px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
    &:hover {
      transform: rotate(0deg);
    }
  }
  .card-container:nth-child(3n) {
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
    &:hover {
      transform: rotate(0deg);
    }
  }
}

.button {
  font-family: 'Barlow', 'Montserrat';
  background: transparent;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px var(--black);

  // background-image: linear-gradient(
  //   to right,
  //   rgba(161, 92, 56, 0.3),
  //   rgba(161, 92, 56, 0.9) 4%,
  //   rgba(161, 92, 56, 0.3)
  // );

  background-image: linear-gradient(
    to right,
    rgba(220, 53, 69, 0.3),
    rgba(220, 53, 69, 0.9) 10%,
    rgba(220, 53, 69, 0.5)
  );

  font-size: 1.5rem;
  text-align: center;
  width: 200px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 250ms ease-in;
  height: 4rem;
  color: var(--black);
  &:hover {
    box-shadow: 0 1px 2px 0 rgba(2, 2, 2, 0.5), 0 2px 7px 0 rgba(2, 2, 2, 0.49);
    // box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);

    background-image: linear-gradient(
      to right,
      rgba(1220, 53, 69, 0.7),
      rgba(220, 53, 69, 1) 10%,
      rgba(220, 53, 69, 0.7)
    );

    // background-image: linear-gradient(
    //   to right,
    //   rgba(161, 92, 56, 0.7),
    //   rgba(161, 92, 56, 0.9) 4%,
    //   rgba(161, 92, 56, 0.7)
    // );

    color: var(--white);
  }
}
