.order-placed{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 5% 10% 20% 10%;
    h1{
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        display: flex;
        align-self: center;
    }
    p{
        font-size: 30px;
        display: flex;
        align-self: center;
    }
    button{
        width: 250px;
        height: 45px;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;   
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        color: var(--light);
        background: var(--red);
    }
}