.drop-down-div
  width: 443px
  align-self: flex-end
  height: 160px
  margin-right: 17px
  display: flex
  flex-direction: column

.dropdown
  text-transform: uppercase
  display: flex
  height: 66px
  right: 1rem
  padding: 0px 0px 0px 29px
  border-radius: 15px
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8)
  border: solid 1px var(--white)
  font-family: Breamcatcher
  font-size: 31px
  cursor: pointer
  color: var(--cool-grey-two)
  -webkit-appearance: none
  -moz-appearance: none
  background: url(../../assets/arrow/arrow.png) 97% center no-repeat
  &::-moz-focus-inner
    border: 0
    padding: 0
  &:focus
    outline: none

.general-font-design
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.2
  letter-spacing: normal
  text-align: left

.dropdown-menu
  display: flex
  flex-direction: column
  justify-content: center
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px
  height: 110px
  margin: 0px 11px 0
  opacity: 0.59
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8)
  background-color: var(--white)

.dropdown-menu-width
  width: 425px

.dropdown-content
  width: 408px
  height: 25px
  margin: 0 48.1px 5px 8px
  font-family: Breamcatcher
  font-size: 25px
  cursor: pointer
  color: var(--evergreen)
  text-transform: uppercase
  outline: none
  border: none
  background-color: var(--white)

